
@{
    ViewBag.Title = "principal";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


<!--Bem-vindo, @ViewBag.usuarioLog-->


<h2>Hub</h2>

<br />
@Html.ActionLink("Login", "Login", "Home")

<br />
@Html.ActionLink("Consultar Comanda", "Index", "Comanda")

<br />
@Html.ActionLink("Inserir Comanda", "Create", "Comanda")

<br />
@Html.ActionLink("Contato", "Contact", "Home")

<br />
@Html.ActionLink("Logout", "Logout", "Home")