
@model Tuple<JapanoriWebSystem.Models.modelComanda, IEnumerable<JapanoriWebSystem.Models.modelComanda>>


@{
    ViewBag.Title = "consultaComanda";
}

<h2>Consulta de Comanda</h2>

<h3>Buscar por código</h3>

@using (Html.BeginForm("Consulta", "Comanda",FormMethod.Post))
{

        <div>

            @Html.EditorFor(modelItem => item.idComanda, new

       {

           htmlAttributes = new { id = "txtCod", name = "txtCod", type = "text", @class = "form-control", placeholder = "Digite o código do paciente", required = "required", maxlength = "30" }
       })

            @Html.ValidationMessageFor(modelItem => item.idComanda, "", new { @class = "text-danger" })

        </div>

        <br />
        <input type="submit" value="Buscar">
        <br />
    

}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.idComanda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.situacaoComanda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.statusComanda)
        </th>
    </tr>

    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idComanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacaoComanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusComanda)
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.idComanda }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.idComanda }, new { onclick = "return confirm('Deseja realmente excluir?');" })
            </td>


        </tr>

    }


</table>
